{% extends '@TimVhosting/layoutV4.html.twig' %}

{% block body %}
<main role="main">
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <h2 class="header-page">{{ 'about.header.label'|trans({}, 'TimVhostingBundle') }}</h2>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="">
                        <h6>{{ 'about.message.label'|trans({}, 'TimVhostingBundle') }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
