/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/.idea/*
.idea/
web/web.config
web/.ttf
web/_glyphicons-halflings-regular_1.ttf
web/css/
web/js/
web/Resources/
composer.lock
*.php~
