
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    position: relative;
    background: #e4e4e4;
    color: #000;
}

.container {
    float: left;
    width: 100%;
    background: #1A1A1A
}

.content {
    background: #262626;
    margin: 0 0 0 200px;
    padding: 1.2em 2.2em 0 2.2em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.seotext a {
    color: #472e8e;
    cursor: pointer;
    text-decoration: underline;
}

.seotext {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    font-style: italic;
    padding: 0 24px 0 0;
    margin-bottom: 50px;
    opacity: .6;
    overflow: hidden;
}

.content-main {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    /* margin-bottom: 50px; */
    margin-bottom: 0px;
}

.dropdown-filters {
    position: relative;
    margin: 0.9em 0 1.5em;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.dropdown-toggle {
    display: inline-block;
    font-size: 1.85em;
    line-height: 2em;
    text-decoration: none;
    color: #000;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -7px;
    min-width: 100%;
    margin: 0;
    padding: 10px;
    z-index: 9;
    list-style: none;
    background: #2b2b2b;
    border-radius: 3px;
    white-space: nowrap;
}

.dropdown-u {
    color: #222;
    font: 14px Arial,Verdana,serif;
    border: medium none;
}

.open .dropdown-menu {
    display: block;
}

.dropdown-item {
    margin: 0;padding: 0;
}

.tag-link {
    color: #fff;
}

.tag-link.weight-1 {
    font-size: 1.15em;
}

.tag-link.weight-2 {
    font-size: 1.4em;
}

.tag-link.weight-3 {
    font-size: 1.7em;
}

.tag-link.weight-4 {
    font-size: 2.1em;
}

.tag-link.weight-5 {
    font-size: 2.2em;
}

.tag-link:visited {
    color: #fff;
}

.tags-filter-item {
    box-shadow:inset 0 3px 6px rgba(0, 0, 0, .2),0 1px 0 0 rgba(255, 255, 255, .1);
}

.content {
    background-color: #FFF;
}

.menu {
    float: left;
    margin-left: -100%;
    position: relative;
    padding: 10px 20px 40px;
    box-sizing: border-box;
    width: 200px;
    z-index: 2;
    background: transparent none repeat scroll 0% 0%;
}

aside.menu {
    position: relative;
    float: left;
    /*width: 20em;*/
    margin-left: -100%;
    box-sizing: border-box;
    background: #E6E6E6 none repeat scroll 0% 0%;
}

.menu-link {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: color 0.2s ease 0s;
    line-height: 1.7em;
    cursor: pointer;
    margin-bottom: 0.3em;
}

.seotext {
    display: none;
}