{% extends '@TimVhosting/layout.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="header-page">About</h2>

        <div class="row">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <h4>{{ 'about.message.label'|trans({}, 'TimVhostingBundle') }}</h4>
                </div>
            </div>
        </div>

    </div>
{% endblock %}