{% extends '@TimVhosting/layout.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="header-page">Contribution</h2>
        <div class="row">
            <div class="col-md-12">
                <p>Contribution Text</p>
            </div>
        </div>
        <div class="ros">
            <div class="col-md-12">
                <p>Contribution Form</p>
            </div>
        </div>
    </div>
{% endblock %}