html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ECF0F5;
}

.dropdown {
    cursor:pointer;
}

/* Footer Styles */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* Set the fixed height of the footer here */
    height: 45px;
    line-height: 45px;
    background-color: #f5f5f5;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/* Responsive Styles */
@media (max-width: 767px) {

    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }
}

.container p {
    text-align: center;
}

.noscript-warning {
    background-color: #C70A0A;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0px;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}

.navbar {
    margin-bottom: 0px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 300px;
    margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 300px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 300px;
}

.carousel-indicators > li {
    width: 17px;
    height: 17px;
}

.carousel-indicators .active {
    width: 17px;
    height: 17px;
}


.header-page {
    border-bottom: 1px solid #adb08a;
}