{% extends "@SonataAdmin/CRUD/base_show_field.html.twig" %}

{% block field %}
    <iframe width="420" height="315" src="{{ object.link }}" frameborder="0" allowfullscreen></iframe><br/>
    <a href="{{ object.link }}" target="_blank">{{ object.title }}</a>
{% endblock field %}