
html{
    height:100%;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
    min-height: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}