
html{
    height:100%;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
    min-height: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.container.app-container{
    width:100%;
    max-width:100%;
}
.workout-display-div{
    text-align:center;
    padding:40px;
}
.workout-display-div .img-responsive{
    margin: 25px auto;
    width:540px;
    height:360px;
    cursor:pointer;
}
.workout-display-div .time-progress{
    margin-top:40px;
}

.workout-app-container{
    padding-top:15px;
}
